{% extends "layout.html" %}
{% block content %}
    <div class="chat-container">
        <div class="chat-sidebar">
            <div class="chat-sidebar-top">
                <p data-i18n="historyConvassation">历史会话</p>
                <a class="btn  btn-lg new-chat" href="{{ url_for('chat.view_chat',conversation_id=0) }}" role="button">
                    <img src="{{ url_for('static', filename='img/new_chat_icon.svg') }}" alt="New Chat">
                </a>
            </div>
            <ul class="chat-history" id="chat-history">
                <!-- Chat list will be populated by jQuery -->
            </ul>
        </div>
        <div class="chat-main">
            <div class="chat-header">
                <h2 id="chat-title"></h2>
            </div>
            <div class="chat-messages" id="chat-messages">
                <!-- Messages will be populated by jQuery -->
            </div>
            <div class="chat-input">
                <textarea id="chat-message" class="form-control" rows="1"
                          data-i18n-placeholder="enterChatMsg"></textarea>
                <input class="form-check-input" type="checkbox" id="stream-message" checked>
                <button class="btn btn-primary" id="send-message" type="button" data-i18n="send">Send</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
