/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: #fafafa;
}

::-webkit-scrollbar-thumb {
    background: #cbeaf1;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Basic Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
}

.form-inline {
    margin-left: 20px;
}

.tc {
    text-align: center;
}

#language-select {
    margin-right: 15px;
}

.back-arrow {
    font-size: 1.5rem;
    color: #007bff;
    text-decoration: none;
}

.back-arrow:hover {
    text-decoration: underline;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header h4 {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.card-header button {
    margin: 0;
}

.container-box {
    width: 100%;
    margin-top: 62px;
}

/* Chat Container */
.chat-container {
    display: flex;
    height: 100vh;
}

.chat-sidebar {
    width: 25%;
    max-width: 300px;
    padding: 10px;
    height: calc(100vh - 62px);
    border-right: 0px solid #e0e0e0;
    overflow-y: auto; /* Prevent scrolling */
    background-color: #f4f4f9;
}

.chat-sidebar h3 {
    margin-top: 0;
    font-size: 1.2em;
    color: #333;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
}

.chat-history {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.chat-history li {
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s;
}

.chat-history li:hover {
    background-color: #e0e0e0;
}

.chat-main {
    width: 75%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.chat-header {
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 150px; /* Allow space for the chat input at the bottom */
    padding: 10px 150px;
}

.chat-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 30px;
    padding: 10px 150px;
    width: 75%;

    :first-child {
        flex-basis: 90%
    }
}

#send-message {
    min-width: 60px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#send-message:hover {
    background-color: #0056b3;
}

/* Messages */
.user-message {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    word-wrap: break-word; /* 自动换行 */
    justify-content: end;
}

.user-message .message-content {
    max-width: 80%; /* 防止文字太长 */
    background-color: #f4f4f4;
    padding: 10px 20px;
    border-radius: 20px;
}

.bot-message {
    padding: 10px 10px 10px 60px;
    border-radius: 10px;
    margin-bottom: 10px;
    align-self: flex-start;
    max-width: 100%;
    word-wrap: break-word;
    position: relative;
}

.bot-message .message-content {
    text-align: justify; /* 文字靠左对齐，保持可读性 */
}

.bot-message:before {
    content: "";
    width: 36px;
    height: 36px;
    background-image: url('../img/robot-icon.png'); /* Make sure to have this image in your static/img folder */
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 10%;
    transform: translateY(-50%);
}

.bot-icon {
    width: 48px;
    height: 48px;
    margin-right: 10px;
    border-radius: 50%;
    vertical-align: middle;
}
