body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
}

.form-inline {
    margin-left: 20px;
}

.tc {
    text-align: center;
}

#language-select {
    margin-right: 15px;
}

.back-arrow {
    font-size: 1.5rem;
    color: #007bff;
    text-decoration: none;
}

.back-arrow:hover {
    text-decoration: underline;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header h4 {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.card-header button {
    margin: 0;
}

.container-box {
    width: 100%;
    margin-top: 62px;
}

.chat-container {
    display: flex;
    height: 100vh;
}

.chat-sidebar {
    width: 25%;
    max-width: 280px;
    padding: 10px;
    overflow-y: hidden; /* Prevent scrolling */
    background-color: #f4f4f9;
}

.chat-sidebar h3 {
    margin-top: 0;
    font-size: 1.2em;
    color: #333;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
}

.chat-history {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.chat-history li {
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s;
}

.chat-history li:hover {
    background-color: #e0e0e0;
}

.chat-main {
    width: 75%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.chat-header {
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 100px; /* Allow space for the chat input at the bottom */
    padding: 10px 100px;
}

.chat-input {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 30px;
    left: 320px; /* Adjust according to sidebar width */
    right: 50px; /* Adjust according to desired margin */
    /*width: calc(75% - 70px); !* Adjust width to leave 50px margin on the right *!*/
    /*padding: 10px 100px;*/
}

#chat-message {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#send-message {
    min-width: 60px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#send-message:hover {
    background-color: #0056b3;
}

.user-message {
    background-color: #d1ffd6;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    align-self: flex-start;
}

.bot-message {
    background-color: #ffd1d1;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    align-self: flex-end;
}