{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="jumbotron tc">
        <h1 class="display-4" data-i18n="welcome">Welcome to Flask Chat App</h1>
        <p class="lead" data-i18n="lead">This is a simple chat application using Flask and OpenAI GPT-4.</p>
        <hr class="my-4">
        <p>
            {% if current_user.is_authenticated %}
                <a class="btn btn-primary btn-lg" href="{{ url_for('chat.view_chat',conversation_id=0) }}" role="button"
                   data-i18n="startChat">Start Chatting</a>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{{ url_for('auth.login') }}" role="button" data-i18n="login">Login</a>
                <a class="btn btn-secondary btn-lg" href="{{ url_for('auth.register') }}" role="button"
                   data-i18n="register">Register</a>
            {% endif %}
        </p>
    </div>
{% endblock %}
